@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-guapi-green: #115d40;
  --color-guapi-green-dark: #0a402a;
  --color-guapi-orange: #f26b1c;
  --color-guapi-orange-dark: #d55913;
}
